html, body {
	font-family: Roboto, Sans-Serif;
    height: 100%;
    /* Horz & vert center https://css-tricks.com/centering-css-complete-guide/ */
}

a {
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(#F6EBE2, #F6EBE2);
    background-origin: 0;
    background-size: 200% 50%;
    background-repeat: repeat-x;
    background-position: -100% 100%;
    transition: background-size 0.2s linear;
}

a:hover {
    text-decoration: none;
    color: inherit;
    background-size: 200% 100%;
}

/* REMOVE HYPERLINK DECORATION */
/*
a {
    text-decoration: none;
    background-image: none;
    background-origin: 0;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0; 
}
*/

img {
    width: 100%;
}

hr {
    width: 25%;
    margin: 2em auto;
}

iframe {
    display: block;
    width: 100%;
    height: 500px;
}
}

/* HEADINGS */

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h3 {
    font-size: 1.25em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* CAPTION */

.capt {
    font-style: italic;
    font-weight: lighter;
}

.capt i {
    font-style: normal;
}

/* HOME */

.home {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
}

.home a {
    text-decoration: none;
    background-image: none;
    background-origin: 0;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0; 
}

/* BLURB */

.blurb {
    font-size: 0.8em;
    font-weight: 100;
    text-align: center;
    padding: 1em 0;
}

/* ICON LINK */

i a {
    text-decoration: none;
    background-image: none;
    background-origin: 0;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0; 
    padding-right: 1em;
}

/* BACKGROUND */

.grey-background {
    background-color: #EBEBEB;
}

/* CHAPTER */

.chapter {
    padding: 1em 0 1.5em;
}

.chapter-title {
    font-size: 1.75em;
    font-weight: 700;
    padding-bottom: 0.5em;
}

.chapter-section {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 1em 0;
}

.chapter-section a {
    text-decoration: none;
    background-image: none;
    background-origin: 0;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0; 
    transition: letter-spacing 0.2s linear;
}

.chapter-section a:hover {
    letter-spacing: 4px;
}

/* *************************************** */

/* QUOTE */

.quote {
    color: #E2A596;
    font-weight: 100;
    font-style: italic;
    padding: 0 1.5em;
    border-left: 4px solid #E2A596;
}

.quote i {
    font-style: normal;
}

/* TEXTBOX */

.textbox {
    color: #A07B79;
    font-weight: 100;
    border-left: 4px solid #E2A596;
    background-color: #EDECEB;
    padding: 3em 4em 2em;
    margin-bottom: 1.5em;
}

.textbox-link a {
    font-weight: bold;
    text-decoration: none;
    background-image: none;
    background-origin: 0;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0; 
    transition: color 0.2s linear;
}

.textbox-link a:hover {
    color: black;
}

.textbox-blurb {
    font-style: italic;
}

.textbox-blurb i {
    font-style: normal;
}

/* BUTTON */

.button-link {
    width: 50%;
    border: none;
    border-radius: 3em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
    background-color: #E2A596;
    transition: background-color 0.2s linear;
    padding: 2em 3em;
    margin: 0 auto 1.5em;
}

.button-link:hover {
    background-color: #A07B79;
}

/* BLOG */

.link-to-post {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 0.5em;
}

.link-to-post a {
    text-decoration: none;
    background-image: none;
    background-origin: 0;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0; 
    transition: letter-spacing 0.2s linear;
}

.link-to-post a:hover {
    letter-spacing: 1px;
}

.blog-button {
    border: none;
    border-radius: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 100;
    letter-spacing: 1px;
    transition: font-weight 0.2s linear;
    padding: 1em;
}
