/* Color palette: https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */

/* BODY FONT AND POSITIONING */

html, body {
	font-family: Inconsolata, Sans-Serif;
    height: 100%;
}

/* HEADINGS */

h1 {
    font-size: 1.75em;
    font-weight: 700;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h3 {
    font-size: 1.25em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* HYPERLINKS */

a {
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(#ffb703, #ffb703);
    background-origin: 0;
    background-size: 200% 50%;
    background-repeat: repeat-x;
    background-position: -100% 100%;
    transition: background-size 0.2s linear;
}

a:hover {
    text-decoration: none;
    color: inherit;
    background-size: 200% 100%;
}

/* REMOVE HYPERLINK DECORATION */
/*
a {
    text-decoration: none;
    background-image: none;
    background-origin: 0;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0; 
}
*/

/* IMAGES */
img {
    width: 100%;
}

/* HORIZONTAL LINE BREAK */

hr {
    width: 25%;
    margin: 2em auto;
}

/* IFRAME/EMBEDDED PAGES */

iframe {
    display: block;
    width: 100%;
    height: 500px;
}

/* SOCIAL MEDIA ICONS */

i a {
    text-decoration: none;
    background-image: none;
    background-origin: 0;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0; 
    padding-right: 1em;
}

/********** HOME PAGE **********/

/* HOME PAGE HEADING */

.home {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
}

.home a {
    text-decoration: none;
    background-image: none;
    background-origin: 0;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0; 
}

/* HOME PAGE SUBHEADING */

.home-sub {
    font-size: 0.8em;
    font-weight: 100;
    text-align: center;
    padding: 1em 0;
}

/* HOME PAGE SECTION */

.home-section {
    padding: 1em 0 1.5em;
}

/* BACKGROUND COLOR*/

.grey-background {
    background-color: #EBEBEB;
}
